<ul class="nav justify-content-center">
    <h1 id="title">VinDisBrew</h1>
    <% if (!currentUser) {%>
    <li class="nav-item">
      <a class="nav-link active" href="/auth/signup">Signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/login">Login</a>
    </li>
    <% } else if (currentUser){ %>
    <li class="nav-item">
      <a class="nav-link" href="/auth/logout">Logout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
    </li>
    <% } %>
  </ul>