<h1>About the App</h1>
<p>
    Kraterologist was created in a single six day solo sprint. The idea came from my 15 year career in hospitality.
    Bartenders and restaurateurs are constantly struggling to develop unique and expressive cocktails for their seasonal
    menus. Kraterologist aids in that development by offering suggestions and allowing the user to modify classic
    cocktails. Kraterology comes from the old greek words for the study of (ology) mixing liquid in a vessel called a
    krater.
</p>
<p>
    This app was created with restful routes to connect to and utilize an existing API for their database of cocktails.
    I developed CRUD routes to develop a fully immersive user experience with storable data.
</p>
<p>
    This app was also created an authorization interface to allow a fully protected experience for the user.
</p>
<p>
    Finally, this app is connected to the cocktail database for a comprehensive db of various cocktails.
</p>
<p>
    Please feel free to make an account and explore.
</p>

<h1>About the Developer</h1>

<img src="/images/me.jpeg" alt="Amir Harrison">
Amir Harrison is a Software Developer and Certified Sommelier with 15 years of hospitality experience.