<h2 id='homepage'>Kraterologist is a cocktail application where Bartenders, Bar Managers, Restaurateurs, Aficionados,
    and Enthusiasts can gather to collaborate, brainstorm, and learn about classic cocktails and variations on which.
    Signup for an account and start searching for your favorite cocktails, adapt them to your needs, and explore new
    variations. Happy mixing!</h2>