

<h2 id='homepage'>VinDisBrew is a cocktail loggin, brainstorming, and learning app for bartenders and hobbists alike. Signup for an account and start searching for your favorite cocktails, adapt them to your needs, and explore new variations. Happy mixing!</h2>