

<% if (data.drinks !== null) { %>
<div class="searchImg">   
<% data.drinks.forEach(drink => { %>
    <div class="well">
        <h2 class="hyper"><a href="drinks/<%= drink.idDrink %>"><%= drink.strDrink %></a></h2>
        <img class="picture" src= '<%= drink.strDrinkThumb %>' width='500px' alt="cocktail image">
    </div>
  <% }); %>

<% } else { %>
  
    <h4>could not find</h4>
   <input type="button" value="Back" onclick="window.history.back()" /> 
<% } %>
</div>