<h1>search for a movie below</h1>
<form action='/results' method="GET">
    <label for="searchByName">Search by Name</label>
    <input name='searchByName' id='searchByName'>
    <button type="submit">Search</button>
</form>