body {
  background-image: url(../imgs/noisy-texture-100x100-o8-d14-c-f0ffff-t1.png);
}

nav {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../imgs/Cocktails-Title-Image.jpg);
  background-size: contain;
  height: 100px;
  
}



footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.logo {
  color: white;
  margin: auto 50% 0 0;
  text-decoration: none;
}

.logo:hover {
  color: white;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 0.3em;
  background-color: white;
  color: black;
  margin: 20px 20px 0 0;
  font-size: 20px;
}

#title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  color: rgb(37, 39, 34);
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hyper {
  margin-top: auto;
  text-align: center;
}

.form-floating {
  margin: 20px;
  padding: 20px;
}

.results {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#homepage {
  background-color: lightgrey;
  width: 65%;
  border: 15px solid green;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}

p {
  font-size: 20px;
}
#search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  text-align: center;
  padding: 3px;
  margin-top: 100px;
}

#searchbox {
  background-color: lightgrey;
  /* width: 50%; */
  border: 3px solid green;
  padding: 50px;
}

#nav-link {
  font-size: 50px;
}

#searchByName {
  padding: auto;
}

#profilePage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  padding: auto;
}

#profileDrinks {
  margin-top: 50px;
}

#profilename {
  margin-top: 50px;
}

#newIntructions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  font-size: 15px !important;
}

#mydrinksingre strong {
  color: darkblue;
  background-color: azure;
}

#mydrinks {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

.editmydrink {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
}

.new {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#profileinfo {
  text-align: right;
  margin: 20px;
}
